

@each $prop in (border, border-top, border-right, border-bottom, border-left) {
  @include b($prop) {
    #{$prop}: $border-base !important;
  }

  @include b(#{$prop}-0) {
    #{$prop}: 0 !important;
  }
}


@each $color, $value in $theme-colors {
  @include b(border-#{$color}) {
    border-color: $value !important;
  }
}

@include b(border-rounded) {
  border-radius: $border-radius-base !important;
}

@include b(border-rounded-top) {
  border-top-left-radius: $border-radius-base !important;
  border-top-right-radius: $border-radius-base !important;
}

@include b(border-rounded-right) {
  border-top-right-radius: $border-radius-base !important;
  border-bottom-right-radius: $border-radius-base !important;
}

@include b(border-rounded-bottom) {
  border-bottom-right-radius: $border-radius-base !important;
  border-bottom-left-radius: $border-radius-base !important;
}

@include b(border-rounded-left) {
  border-top-left-radius: $border-radius-base !important;
  border-bottom-left-radius: $border-radius-base !important;
}

@include b(border-rounded-circle) {
  border-radius: 50% !important;
}

@include b(border-rounded-0) {
  border-radius: 0 !important;
}