@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spaces {

    @include b(#{$abbrev}t-#{$size}) {
      #{$prop}-top: $length !important;
    }
    @include b(#{$abbrev}r-#{$size}) {
      #{$prop}-right: $length !important;
    }
    @include b(#{$abbrev}b-#{$size}) {
      #{$prop}-bottom: $length !important;
    }
    @include b(#{$abbrev}l-#{$size}) {
      #{$prop}-left: $length !important;
    }
  }
}

@include b(mt-auto) {
  margin-top: auto !important;
}

@include b(mr-auto) {
  margin-right: auto !important;
}

@include b(mb-auto) {
  margin-bottom: auto !important;
}

@include b(ml-auto) {
  margin-left: auto !important;
}