@each $prop, $shortcut in (margin: m, padding: p) {
  @if ($enable-space) {
    .u\:#{$shortcut} {
      #{$prop}: $space !important;
    }

    .u\:#{$shortcut}t,
    .u\:#{$shortcut}y {
      #{$prop}-top: $space !important;
    }

    .u\:#{$shortcut}r,
    .u\:#{$shortcut}x {
      #{$prop}-right: $space !important;
    }

    .u\:#{$shortcut}b,
    .u\:#{$shortcut}y {
      #{$prop}-bottom: $space !important;
    }

    .u\:#{$shortcut}l,
    .u\:#{$shortcut}x {
      #{$prop}-left: $space !important;
    }
  }

  .u\:#{$shortcut}\:no {
    #{$prop}: 0 !important;
  }
  
  .u\:#{$shortcut}t\:no,
  .u\:#{$shortcut}y\:no {
    #{$prop}-top: 0 !important;
  }

  .u\:#{$shortcut}r\:no,
  .u\:#{$shortcut}x\:no {
    #{$prop}-right: 0 !important;
  }

  .u\:#{$shortcut}b\:no,
  .u\:#{$shortcut}y\:no {
    #{$prop}-bottom: 0 !important;
  }

  .u\:#{$shortcut}l\:no,
  .u\:#{$shortcut}x\:no {
    #{$prop}-left: 0 !important;
  }
}

.u\:m\:auto {
  margin: auto !important;
}

.u\:mt\:auto,
.u\:my\:auto {
  margin-top: auto !important;
}

.u\:mr\:auto,
.u\:mx\:auto {
  margin-right: auto !important;
}

.u\:mb\:auto,
.u\:my\:auto {
  margin-bottom: auto !important;
}

.u\:ml\:auto,
.u\:mx\:auto {
  margin-left: auto !important;
}
