@import "var";

@function concatNamespace($name: false) {
  $return: "";

  @if $name {
    @if $namespace == "" {
      $return: $name;
    }

    @else {
      $return: #{$namespace + '-' + $name};
    }
  }

  @return $return;
}
