$namespace: "" !default;

// Font
// 通过语言控制基础字体大小
// https://www.cnblogs.com/blackcat/p/13298506.html#%E5%AD%97%E4%BD%93
$lang: 'en' !default; // 当前语言，默认是 "zh" 中文，还有是 "en" 英文
$font-size: 1em !default;

@if ($lang == 'zh') {
  $font-size: 14px;
} @else if ($lang == 'en') {
  $font-size: 16px;
}

$font-size-small: .75em !default; // 缩小至 75%
$font-size-big: 1.5em !default; // 扩大至 150%，这里关键字取 big，仅仅因为比 large 少些 2 个字母

$enable-space: false !default;
$enable-border: false !default;

// Space
$space: 15px !default;
// Border
$border-color: #000 !default;
// Print
$print-width: 1200px !default;
// Animation
$duration: .3s !default;
