/* Animation */
@include anim(zoomin) {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
      opacity: 1;
      transform: scaleY(1);
  }
}

@include anim(zoomout) {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
      opacity: 0;
      transform: scaleY(0);
  }
}

@include b(anim) {
  animation-duration: $anim-duration;
  animation-fill-mode: $anim-fill-mode;

  @include m(loop) {
    animation-iteration-count: infinite;
  }

  @include m(rotate) {
    animation-name: concatNamespace(rotate);
    animation-duration: 1s;
    animation-timing-function: linear;
  }

  @include m(zoomin) {
    animation-name: concatNamespace(zoomin);
    transform-origin: center top;
  }

  @include m(zoomout) {
    animation-name: concatNamespace(zoomout);
    transform-origin: center top;
  }
}
